html{
    background-color: black;
    font-size: 1rem;
    font-family: 'Work Sans';
    color: #E6E1E5;

}
body{
    margin: 0;
}
.home-page{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBar{
    display: flex; 
    height: 3rem;
    justify-content: space-between;
    align-items: center; 
    letter-spacing: .15px;
    /* font-weight: 500; */
    padding: .2rem 2rem .2rem 2rem ;
    background-color: #1C1B1F;

}

/* .logo-night{
    font-size: 2rem;
    color: #E6E1E5;
} */
/* .logo-bloom{
    font-size: 2rem;
    background: linear-gradient(to bottom right, #3B37FF 2%, #E401A5, #FF2F22);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
}*/

/* .nav-bar-home{
    font-size: 1.3rem;
} */

button.enter{
    color: #E6E1E5;
    border-radius: 2rem;
    border: solid 1.5px transparent;
    /* background-image: linear-gradient(to bottom right, #3B37FF 2%, #E401A5, #FF2F22); */
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg,  #3B37FF, #FF2F22);
    box-shadow: 2px 1000px 1px black inset;
    padding: .5rem 1rem .5rem 1rem;
    margin-left: .8rem;
    margin-right: .8rem;

}

button.enter:hover {
    box-shadow: none;
    color: black;
  }